In [1]:
import pymysql as ms

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\think\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
con=ms.connect(host='localhost',database='employee',user='root',password='root',port=3306)

create table

In [4]:
cur=con.cursor()
query='create table emp_data1(Id int(20),Name varchar(20),salary float(10,2),no_of_leaves_in int)'
cur.execute(query)
print("create table succesfully")
cur.close()

create table succesfully

insert value

In [5]:
cur=con.cursor()
datas="insert into emp_data1 values(%s,%s,%s,%s)"
values=[(1,'adila',7000,2),
        (2,'kavya',5000,5),
        (3,'vismaya',10000,3),
        (4,'fasiya',35000,7),
        (5,'anil',8500,0)]
cur.executemany(datas,values)
con.commit()
print("record inserted")
cur.close()

record inserted

fetch the person with updated salary(if employee take one leave salary decrease by 200Rs)

In [7]:
cur=con.cursor()
query1="select Id,Name,salary,no_of_leaves_in,(salary-(no_of_leaves_in*200)) as updated_salary from emp_data1 "
cur.execute(query1)
con.commit()
print("updated")
cur.close()

updated